---
---

<header class="bg-white shadow-sm flex flex-wrap">
    <div>
        <a href=""><img src="/assets/lemonCode.png" alt="lemon" class="max-w-7xl w-32 py-4 px-4 sm:px-6 lg:px-8"></a>
    </div>
    <div class="max-w-7xl mx-auto px-4 py-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-800">Online campus</h1>
    </div>
    <div class="px-4 py-6 flex flex-wrap gap-4">
        <a href="" class="bg-gray-900 text-white rounded-full p-3 block w-43 text-center hover:text-[#CAE00F] hover:font-bold">Home</a>
        <a href="" class="bg-gray-900 text-white rounded-full p-3 block w-43 text-center hover:text-[#CAE00F] hover:font-bold">Otro</a>
    </div>
</header>