---
import '../styles/global.css'
import Header from '@/components/header.astro';
import { ClientRouter } from 'astro:transitions';
import 'highlight.js/styles/github-dark.css';

interface Props {
    title: string
}

// destructuramnos Properties para poder llegar a title que está dentro
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter/>
	</head>
	<body>
        <Header/>
		<slot />
	</body>
</html>